<footer class="footer">
  <div class="container">
    <!-- <nav class="level">

      {{ range $.Site.Home.Sections -}}
      <div class="level-item has-text-centered">
        <a href="{{ .URL }}" class="heading">
          <span class="header">{{ .Title }}</span>
        </a>
      </div>
      {{- end }}

    </nav> -->

    <nav class="level">
      <div class="level-item" style="max-width: 500px;">
       <div>
         <h3 class="is-size-3">Subscribe for the mailing list</h3>
         <p>Get these letters delivered fresh right into your inbox. Don't wait for them to be published online.</p>
       </div>
      </div>

      <div class="level-item">
        <div class="control" style="max-width: 400px; width: 90%;">
          <input class="input" type="email" placeholder="yours@email.com">
        </div>
      </div>
    </nav>

    

    <div class="has-text-centered" style="margin-top: 4rem">
      
      (C) <a class="link" href="https://aviaryan.in">
        Avi Aryan
      </a> ·
      <a class="link" href="{{ .Site.RSSLink }}">
        RSS
      </a>
      · <a class="link" href="https://twitter.com/aviaryan123">
        Twitter
      </a>
    </div>
  </div>
</footer>
