<footer class="footer has-background-white-ter">
  <div class="container">
    <!-- <nav class="level">

      {{ range $.Site.Home.Sections -}}
      <div class="level-item has-text-centered">
        <a href="{{ .URL }}" class="heading">
          <span class="header">{{ .Title }}</span>
        </a>
      </div>
      {{- end }}

    </nav> -->

    <nav class="level">
      <div class="level-item" style="max-width: 500px;">  <!-- 768 is bp -->
       <div>
         <h3 class="is-size-3 is-size-4-mobile">COMING NEXT</h3>
         <p><b>Why Make?</b> -
           "Practical knowledge is real, theoritical knowledge is speculation." 
           5 reasons why making and doing things is important. 
           The email goes out <u id="time-to" data-date="2018-09-07T14:30:00Z">24 hour(s)</u>.
         </p>
           <!-- Join {{ .Site.Params.subs }}+ others who are getting these letters delivered right into their inbox.</p> -->
       </div>
      </div>

      <div class="level-item" style="max-width: 450px;">
        <div style="width: 100%;">
            <!-- <h3 class="is-size-3 is-size-4-mobile">SUBSCRIBE to the list</h3> -->
            <!-- <p>Subscribe via email to get letters delivered to you as soon as they are ready. No SPAM promise.
            </p> -->
            <!-- Join {{ .Site.Params.subs }}+ others who are getting these letters delivered right into their inbox.</p> -->

            <div class="field has-addons" style="width: 100%; margin-top: 1rem;">
              <div class="control is-expanded">
                <input class="input" type="email" id="email2" placeholder="spam.free@youremail.com" aria-label="email">
              </div>
              <div class="control">
                <a class="button is-primary" id="signup2" data-for="email2">I'M IN!</a>
              </div>
            </div>
            <!-- <p style="font-size: 0.8rem;"><i>No SPAM promise, your email is safe with us</i></p> -->
        </div>
      </div>
    </nav>

    

    <div class="has-text-centered" style="margin-top: 4rem">
      
      <a class="has-text-grey" href="https://aavi.me/tlp">
        (C) Avi Aryan
      </a> ·
      <a class="has-text-grey" href="/letters/">
        Letters
      </a> ·
      <!-- <a class="has-text-grey" href="https://twitter.com/aviaryan123">
        Twitter
      </a> · -->
      <a class="has-text-grey" href="https://goo.gl/forms/kD2omgnzJvjwvEv33">
        Want to write?
      </a>
    </div>
  </div>
</footer>
