<footer class="footer has-background-white-ter">
  <div class="container">
    <!-- <nav class="level">

      {{ range $.Site.Home.Sections -}}
      <div class="level-item has-text-centered">
        <a href="{{ .URL }}" class="heading">
          <span class="header">{{ .Title }}</span>
        </a>
      </div>
      {{- end }}

    </nav> -->

    <nav class="level">
      <div class="level-item" style="max-width: 500px;">  <!-- 768 is bp -->
       <div>
         <h3 class="is-size-3 is-size-4-mobile">Subscribe to the mailing list</h3>
         <p>Subscribe via email to get letters delivered to you as soon as they are ready. We won't send you any spam, only useful content.
         </p>
           <!-- Join {{ .Site.Params.subs }}+ others who are getting these letters delivered right into their inbox.</p> -->
       </div>
      </div>

      <div class="level-item" style="max-width: 400px;">
          <div class="field has-addons" style="width: 100%">
            <div class="control is-expanded">
              <input class="input" type="email" id="email2" placeholder="yours@email.com" aria-label="email">
            </div>
            <div class="control">
              <a class="button is-primary" id="signup2" data-for="email2">SUBSCRIBE</a>
            </div>
          </div>
      </div>
    </nav>

    

    <div class="has-text-centered" style="margin-top: 4rem">
      
      <a class="has-text-grey" href="https://aavi.me/tlp">
        (C) Avi Aryan
      </a> ·
      <a class="has-text-grey" href="/letters/">
        Letters
      </a> ·
      <!-- <a class="has-text-grey" href="https://twitter.com/aviaryan123">
        Twitter
      </a> · -->
      <a class="has-text-grey" href="https://goo.gl/forms/kD2omgnzJvjwvEv33">
        Want to write?
      </a>
    </div>
  </div>
</footer>
