<section class="hero is-primary is-fullheight">
	<div class="hero-head">
		 {{ partial "navbar.html" . }}
	</div>
	<div class="hero-body">
		<div class="container has-text-centered">
			<h1 class="title is-size-1">
				Dev Letters
			</h1>
			<h2 class="subtitle">
				Daily tips and experiences of a junior developer
			</h2>
			<div>
				<div class="control" style="max-width: 400px; margin: 0 auto;">
					<input class="input" type="email" placeholder="yours@email.com">
				</div>
			</div>
		</div>
	</div>
</section>
