<section class="hero is-primary is-fullheight">
	<div class="hero-head">
		 {{ partial "navbar.html" . }}
	</div>
	<div class="hero-body">
		<div class="container has-text-centered">
			<h1 class="title is-size-1">
				Dev Letters
			</h1>
			<h2 class="subtitle">
				An email-first developer newsletter. Sign up for FREE to get the latest letters as soon as they are out.
			</h2>
			<div style="max-width: 400px; margin: 0 auto;">
				<div class="field has-addons">
					<div class="control is-expanded">
						<input class="input" type="email" id="email" placeholder="yours@email.com">
					</div>
					<div class="control">
						<a class="button" id="signup">SIGN UP</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="hero-foot is-hidden-desktop has-text-centered" style="padding-bottom: 1rem">
		<a href="/letters" class="has-text-white" style="text-decoration: underline">Read Past Letters</a>
	</div>
</section>
