<section class="hero is-primary is-fullheight">
	<div class="hero-head">
		 {{ partial "navbar.html" . }}
	</div>
	<div class="hero-body">
		<div class="container has-text-centered">
			<h1 class="title is-size-1">
				Dev Letters
			</h1>
			<h2 class="subtitle">
				Mailing list focusing on life and experiences as a <b>developer</b>.
				Subscribe to receive the letters as soon as they are out.
				<!-- Blog focusing on experiences as a <b>developer</b>. 
				Sign up on the mailing list for early access to new posts (aka letters). -->
			</h2>
			<div style="max-width: 400px; margin: 0 auto;">
				<div class="field has-addons">
					<div class="control is-expanded">
						<input class="input" type="email" id="email" placeholder="yours@email.com">
					</div>
					<div class="control">
						<a class="button" id="signup">SUBSCRIBE</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="hero-foot">
		<nav class="level is-mobile">
			<div class="level-left" style="margin-left: 6px">
				<div class="level-item">
					<a href="/letters" class="has-text-white is-hidden-desktop" style="text-decoration: underline">Read Past Letters</a>
				</div>
			</div>

			<div class="level-right">
				<a href="https://twitter.com/aviaryan123" class="level-item has-background-white has-text-grey badge" style="margin-right: 0">
					<figure class="image is-24x24">
						<img class="is-rounded" src="https://aviaryan.github.io/hosting/avi_pic_rajat_48.jpg" alt="Avi Aryan's Photo">
					</figure> <span style="margin-left: 5px">by aviaryan123</span>
				</a>
			</div>
		</nav>
	</div>
</section>
