<!-- rich cards https://developers.google.com/search/docs/data-types/article#article_types -->

<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "NewsArticle",
	"mainEntityOfPage": {
		"@type": "WebPage",
		"@id": "{{ .RelPermalink | absURL }}"
	},
	"headline": "{{ .Title }}",
	"datePublished": "{{ .Date.Format "Jan 2, 2006" }}",
	"dateModified": "{{ .Date.Format "Jan 2, 2006" }}",
	"description": "{{ with .Description }}{{ . }}{{ else }}{{ .Content | plainify | truncate 200 "..." -}}{{ end }}",
	"image": [
		"{{ .Params.image }}"
	],
	"author": {
		"@type": "Person",
		"name": "{{ .Site.Author.name }}"
	},
	"publisher": {
		"@type": "Organization",
		"name": "{{ .Site.Title }}",
		"logo": {
			"@type": "ImageObject",
			"url": "{{ .Site.Data.defaults.icons.favicon | absURL }}",
			"width": "256",
			"height": "256"
		}
	}
}
</script>
<!-- thanks https://blog.google/products/assistant/your-funny-interesting-smart-and-humble-best-friend-assistant/
http://schema.org/BlogPosting
-->
<!-- publisher is org because google https://stackoverflow.com/questions/40565885/the-attribute-publisher-itemtype-has-an-invalid-value -->
