<article class="media">
	<div class="media-content">

		<h2 class="title" title="Only available to email subscribers">GSoC is easy if you have a planned approach</h2>
		<p class="subtitle is-flex" style="justify-content:space-between">
			<span class="is-size-6 has-text-grey">Sep 11, 2018</span>
			<!-- <span>{{ .ReadingTime }} min.</span> -->
		</p>

		<p>Google Summer of Code - I am sure every undergrad has the dream of being selected in it one day. And the good news is
		that anyone can do so with some effort. By anyone, I mean any person with some appetite for coding and a strong
		resolve. Seriously, GSoC is not really tough. You just need to follow a good, organized strategy and you can get
		selected. Especially, Indians have performed exceptionally well this year.</p>

	</div>
</article>