<article class="media">
	<div class="media-content">

		<h2 class="title" title="Only available to email subscribers">The complete Toptal hiring process for freelancers</h2>
		<p class="subtitle is-flex" style="justify-content:space-between">
			<span class="is-size-6 has-text-grey">Aug 29, 2018</span>
			<!-- <span>{{ .ReadingTime }} min.</span> -->
		</p>

		<p>I wrote this Medium post of wanting to become a digital nomad. There I discussed why the digital nomad lifestyle appealed
		to me and how I wanted to accomplish this dream of mine. Wannabe Digital Nomad The last step in that article was getting
		selected into Toptal. Mind you, I hadn’t applied to Toptal back then and just thought that if I could do it, it would make
		my dream of becoming a nomad so much more possible.</p>

	</div>
</article>