<article class="media">
	<div class="media-content">

		<h2 class="title" title="Only available to email subscribers">Lessons learned while reaching 100k+ downloads as a 17-yr old</h2>
		<p class="subtitle is-flex" style="justify-content:space-between">
			<span class="is-size-6 has-text-grey">Sep 22, 2018</span>
			<!-- <span>{{ .ReadingTime }} min.</span> -->
		</p>

		<p>I started developing Clipjump in March 2013, and by the same month, next year, it had 100k+ downloads. And just so you
		know, this was done without any marketing or outreach. I had no contacts, no industry experience and I was still in
		school. But the product found love and it kind of grew organically. This is Clipjump’s story. How it all started? Back
		in 2012, I decided to learn to program and make things.</p>

	</div>
</article>