<!DOCTYPE html>
<html lang="en-us" dir="ltr" itemscope itemtype="http://schema.org/Article">

  {{ partial "head.html" . }}

  <body style="min-height:100vh;display:flex;flex-direction:column">

    <div 
      style="background-image: url({{ .Params.image }});
      background-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 30%), url({{ .Params.image }});" 
      class="overlay"></div>

    {{ partial "navbar.html" . }}

    <section class="section" style="flex:1; margin-top: calc(400px - 3rem);">

      <!-- Content -->
      <div class="container">
        <p class="title">{{ .Title }}</p>
        <p class="subtitle is-size-6 has-text-grey">{{ .Date.Format "Jan 2, 2006" }}</p>

        {{ partial "toc.html" . }}
        
        <div class="content">
          {{ .Content }}
        </div>

        <!-- {{ partial "gitinfo.html" . }}
        {{ partial "taglist.html" . }} -->
      </div>

    </section>

    <section class="section">
      <!-- Pagination -->
      {{ partial "pagination-single-section.html" . }}

      <br>

      <!-- Page sharing links -->
      {{ partial "share.html" . }}

      <br>

      <!-- Related list -->
      {{ partial "relatedlist.html" . }}

      <!-- <div class="container">
      {{ template "_internal/disqus.html" . }}
      </div> -->
    </section>

    {{ partial "footer.html" . }}
  </body>

  {{ partial "after-body.html" . }}
  {{ partial "social-scripts.html" . }}
</html>
